.details {
  margin: 10px 0;
  padding: 10px;
  width: 60vw;
  height: auto;
  background-color: white;
  display: flex;
  border-radius: 10px;
  align-items: flex-start;
  flex-direction: column;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.subtitle {
  font-size: 33px;
  font-weight: 600;
  margin: 10px 5px;
  padding: 10px;
}

.card {
  margin: 10px;
  padding: 10px;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card-bg {
  background-color: #e0f2ff;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item-color {
  color: red;
}
