.topbar {
  width: 100%;
  height: 100px;
  background-color: #e0f2ff;
  position: sticky;
  top: 0;
  z-index: 200;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
  font-size: 55px;
  cursor: pointer;
}

.topbarRight {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
