.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-weight: 600;
  font-size: 55px;
  margin: 5px;
}

.mutedText {
  font-size: 24px;
  font-weight: 300;
}

.searchbar {
  width: 60vw;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.searchIcon {
  font-size: 30px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
}

.searchInput:focus {
  outline: none;
}
